{% extends 'base_model.html' %}
{% load static %}

{% block title %}RegiTech UHo(Incidencias){% endblock %}

{% block titulo %}Editar <b class="text-success">Incidencia</b>{% endblock %}

{% block buttons %}
    <a class="btn btn-success" href="{% url 'IncidenciasList' %}"><b>Listado</b></a>
{% endblock %}

{% block main %} 
    <div class="container">
        <main>
            <hr class="my-4">
            <div class="row g-5">
                <form class="needs-validation" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row g-5">
                        <div class="col-sm-4">
                            <label for="inventario" class="input-group-text w-100 btn bg-success"><b>Inventario: </b></label>
                            {{form.inventario}}
                            <div class="invalid-feedback">
                                <b class="text-danger">Es requerido un c&oacute;digo de inventario v&aacute;lido.</b>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="tipo" class="input-group-text w-100 btn bg-success"><b>Tipo: </b></label>
                            {{form.tipo}}
                            <div class="invalid-feedback">
                                <b class="text-danger">Seleccione una opci&oacute;n.</b>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="nombre" class="input-group-text w-100 btn bg-success"><b>N&oacute;mbre: </b></label>
                            {{form.nombre}}
                            <div class="invalid-feedback">
                                <b class="text-danger">Es requerido un n&oacute;mbre v&aacute;lido.</b>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="col-sm-12 mt-0">
                            <label for="descripcion" class="input-group-text w-100 btn bg-success"><b>Descripci&oacute;n: </b></label>
                            {{form.descripcion}}
                            <div class="invalid-feedback">
                                <b class="text-danger">Es requerido una descripci&oacute;n del recurso v&aacute;lido.</b>
                            </div>
                        </div>

                        <hr class="my-4">
                    </div>
                    <button class="w-100 btn btn-success btn-lg mt-0" type="submit"><b>Registrar</b></button>
                </form>
            </div>
        </main>

        <footer class="my-5 pt-5 text-dark text-center text-small">
            <p class="mb-1">&copy; 2023–2024 Universidad de Holgu&iacute;n</p>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}
