{% extends 'base_model.html' %}
{% load static %}

{% block title %}Confirmaci&oacute;n{% endblock %}

{% block css %}
  	<link href="{% static 'css/modal.css' %}" rel="stylesheet">
{% endblock %}

{% block titulo %}
	Eliminar <b class="text-success">CPU</b>
{% endblock %}

{% block main %}
	<form action="#" method="post">
		{% csrf_token %}
		<div class="modal modal-alert position-static d-block p-0" tabindex="-1" role="dialog" id="modalChoice">
			<div class="modal-dialog" role="document">
				<div class="modal-content rounded-3 shadow">
					<div class="modal-body p-4 text-center">
						<h5 class="mb-0 text-dark"><b>Eliminar</b></h5>
						<p class="mb-0 text-dark">Est&aacute;s seguro de eliminar la <b>CPU</b> seleccionada: <b>{{ object }}</b>? Esta acci&oacute;n ser&aacute; <b>permanente</b>.</p>
					</div>
					<div class="modal-footer flex-nowrap p-0">
						<button type="submit" class="btn btn-lg fs-6 text-decoration-none col-6 m-0 rounded-0 border-end bg-danger"><b>Borrar</b></button>
						<a href="{% url 'AlmacenList' %}" class="btn btn-lg fs-6 text-decoration-none col-6 m-0 rounded-0 bg-success">  
							Atr&aacute;s
						</a>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}