{% extends 'base_model.html' %}
{% load static %}

{% block title %}Cambiar Contrase&ntilde;a{% endblock %}

{% block titulo %}
    Cambiar Contrase&ntilde;a de 
    <a class="btn btn-secondary" href="{% url 'UserDetailPublico' user.id %}">
        <b>
            <i class="fas fa-user-circle"></i> {{ user.username | upper }}
        </b>
    </a>
{% endblock %}

{% block buttons %}
    <a class="btn btn-success" href="{% url 'Estadisticas' %}"><b>Inicio</b></a>
{% endblock %}

{% block main %}
<div class="container">
    <main>
        <hr class="my-4">
        <div class="row g-5">
            {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        La <b>contrase&ntilde;a anterior</b> es incorrecta, la <b>confirmaci&oacute;n</b> no coincide o no contiene los <b>requisitos</b> indicados.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>    
                {% endif %}
            <form class="needs-validation" novalidate method="POST">
                {% csrf_token %}
                             
                <div class="row g-5">
                    <div class="col-sm-3"></div>

                    <div class="col-sm-6">
                        <label for="old_pass" class="input-group-text w-100 btn bg-success"><b>Contrase&ntilde;a Antigua: </b></label>
                        <input class="form-control" id="old_pass" type="password" name="old_password" placeholder="Introduzca su contraseña anterior">
                    </div>
                    
                     <div class="col-sm-3"></div>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <b>Requisitos para una contrase&ntilde;a segura<i class="fas fa-lock"></i></b>
                                </button>
                            </h4>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        <li class="list-item">Su contrase&ntilde;a no puede asemejarse tanto a su otra <b>informaci&oacute;n personal</b>.</li>
                                        <li class="list-item">Su contrase&ntilde;a debe contener al menos <b>8 caracteres</b>.</li>
                                        <li class="list-item">Su contrase&ntilde;a no puede ser una clave utilizada <b>com&uacute;nmente</b>.</li>
                                        <li class="list-item">Su contrase&ntilde;a no puede ser completamente <b>num&eacute;rica.</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <label for="new_pass1" class="input-group-text w-100 btn bg-success"><b>Contrase&ntilde;a Nueva: </b></label>
                        <input class="form-control" id="new_pass1" type="password" name="new_password1" placeholder="Introduzca su nueva contraseña">
                    </div>
                    
                    <div class="col-sm-6">
                        <label for="new_pass2" class="input-group-text w-100 btn bg-success"><b>Contrase&ntilde;a Nueva(Confirmaci&oacute;n): </b></label>
                        <input class="form-control" id="new_pass2" type="password" name="new_password2" placeholder="Confirme su contraseña">
                    </div>
          
                <hr class="my-4 mb-0">

                <button class="w-100 btn btn-success btn-lg" type="submit">Cambiar</button>
            </form>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2023–2024 Universidad de Holgu&iacute;n</p>
    </footer>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/form.js' %}"></script>
{% endblock %}