{% extends 'base_model.html' %}
{% load static %}

{% block title %}Password_Changed_done{% endblock %}

{% block titulo %}
    Cambiar <b class="text-success">Contrase&ntilde;a</b>
{% endblock %}

{% block css %}
    <link href="{% static 'css/modal.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="modal modal-alert position-static d-block p-0" tabindex="-1" role="dialog" id="modalChoice">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-3 shadow">
                <div class="modal-body p-4 text-center">
                    <h5 class="mb-0 text-dark"><b>Contrase&ntilde;a Cambiada</b></h5>
                    <p class="mb-0 text-dark">Su contrase&ntilde;a a sido cambiada con &eacute;xito. <i class="fas fa-circle-check text-success"></i></p>
                </div>
                <div class="modal-footer flex-nowrap p-0">
                    <a href="{% url 'UserDetailPublico' user.id %}" class="btn btn-lg fs-6 text-decoration-none col-12 m-0 rounded-0 bg-success">  
                        <b>Atr&aacute;s</b>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}