{% extends 'base_model.html' %}
{% load static %}

{% block title %}RegiTech UHo(Mantenimiento){% endblock %}

{% block titulo %}A&ntilde;adir <b class="text-success">Orden de Servicio</b>{% endblock %}

{% block buttons %}
    <a class="btn btn-success" href="{% url 'OrdenServicioList' %}"><b>Listado</b></a>
{% endblock %}

{% block main %} 
    <div class="container">
        <main>
            <hr class="my-4">
            <div class="row g-5">
                <form class="needs-validation" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row g-5">
                        <div class="col-sm-4">
                            <label for="inventario" class="input-group-text w-100 btn bg-success"><b>Inventario: </b></label>
                            {{form.inventario}}
                            <div class="invalid-feedback">
                                <b class="text-danger">Seleccione el c&oacute;digo de inventario del recurso.</b>
                            </div>
                        </div>

                        <div class="col-sm-4"></div>
    
                        <div class="col-sm-4">
                            <label for="tipo_orden" class="input-group-text w-100 btn bg-success"><b>Tipo de Orden: </b></label>
                            {{form.tipo_orden}}
                        </div>
                        
                        <hr class="my-4">

                        <div class="col-12 mt-0">
                            <label for="descripcion" class="input-group-text w-100 btn bg-success"><b>Descripci&oacute;n: </b></label>
                            {{form.descripcion}}
                            <div class="invalid-feedback">
                                <b class="text-danger">Es requerido una descripci&oacute;n de su problema para poder brindarle la ayuda adecuada.</b>
                            </div>
                        </div>

                        <hr class="my-4">
                    </div>
                    <button class="w-100 btn btn-success btn-lg" type="submit"><b>Guardar</b></button>
                </form>
            </div>
        </main>

        <footer class="my-5 pt-5 text-dark text-center text-small">
            <p class="mb-1">&copy; 2023–2024 Universidad de Holgu&iacute;n</p>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/ValidValor.js' %}"></script>
{% endblock %}
