{% extends 'base_list.html' %}
{% load static %}

{% block title %}RegiTech UHo(Centros de Costo){% endblock %}

{% block titulo %}Listado de <b class="text-success">Areas Universitarias</b>{% endblock %}

{% block buttons %}
    <a class="btn btn-success" href="{% url 'AreaCreate' %}"><b>A&ntilde;adir</b></a>
{% endblock %}

{% block main %}
    <div class="table-responsive pt-2">
        <table class="table table-sm" id="example">
            <thead class="text-dark bg-success">
                <tr>
                    <th scope="col" class="col-sm-1">No</th>
                    <th scope="col" class="col-sm-3">Nombre</th>
                    <th scope="col" class="col-sm-2">Jefe de Area</th>
                    <th scope="col" class="col-sm-2">Supervisor</th>
                    <th scope="col" class="col-sm-2">Responsable</th>
                    <th scope="col" class="col-sm-2">Opciones</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for area in areas %}
                    <tr>
                        <td><b>{{ forloop.counter }}</b></td>
                        <td><b>{{ area.nombre }}</b></td>
                        <td><b>{{ area.jefe_area }}</b></td>
                        <td><b>{{ area.supervisor_area }}</b></td>
                        <td><b>{{ area.responsable_area }}</b></td>
                        <td>
                            <a href="{% url 'AreaUpdate' area.id %}"><i class="fas fa-pen text-success"></i></a>
                            <a href="{% url 'AreaDelete' area.id %}"><i class="fas fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
