{% extends 'base_model.html' %}
{% load static %}

{% block title %}RegiTech UHo(Recursos){% endblock %}

{% block titulo %}Detalles <b class="text-success">Tipo de Orden de Servicio</b>{% endblock %}

{% block buttons %}
    <a class="btn btn-success" href="{% url 'TipoOrdenList' %}"><b>Listado</b></a>
{% endblock %}

{% block main %}
    <div class="container">
        <main>
            <hr class="my-4">
            <div class="row g-5">
                <div class="col-sm-6">
                    <label class="input-group-text bg-success"><b>Nombre: </b></label>
                    <label class="form-control">{{ tipo.nombre }}</label>
                </div>

                <div class="col-12">
                    <label class="input-group-text btn w-100 bg-success"><b>Descripci&oacute;n: </b></label>
                    <label class="form-control">{{ tipo.descripcion }}</label>  
                </div>
        
                <hr class="my-4">
            </div>
        </main>

        <footer class="my-5 pt-5 text-dark text-center text-small">
            <p class="mb-1">&copy; 2023–2024 Universidad de Holgu&iacute;n</p>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    
{% endblock %}
