{% extends 'base_model.html' %}
{% load static %}

{% block title %}RegiTech UHo(Tipo de Recurso){% endblock %}

{% block titulo %}Detalles <b class="text-success">Tipo de Recurso TICs</b>{% endblock %}

{% block buttons %}
    <a class="btn btn-success" href="{% url 'TipoRecursoList' %}"><b>Listado</b></a>
{% endblock %}

{% block main %} 
    <div class="container">
        <main>
            <hr class="my-4">
            <div class="row g-5">
                <form class="needs-validation" novalidate method="POST">
                    {% csrf_token %}
                    <div class="row g-5">
                        <div class="col-sm-6">
                            <label for="nombre" class="input-group-text w-100 btn bg-success"><b>Nombre: </b></label>
                            <label class="form-control">{{ tipo.nombre }}</label>
                        </div>

                        <hr class="my-4">

                        <div class="col-12 mt-0">
                            <label for="descripcion" class="input-group-text w-100 btn bg-success"><b>Descripci&oacute;n: </b></label>
                            <label class="form-control">{{ tipo.descripcion }}</label>
                        </div>

                        <hr class="my-4">
                    </div>
                </form>
            </div>
        </main>

        <footer class="my-5 pt-5 text-dark text-center text-small">
            <p class="mb-1">&copy; 2023–2024 Universidad de Holgu&iacute;n</p>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/ValidVal.js' %}"></script>
{% endblock %}
